/*
	#eed9d0
	#edc7b7
	#eee2dc
	#bab2b5
	#123c69
	#ac3b61
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	font-family: 'Raleway', sans-serif;
	color: #123c69;
}

body{
	background-image: url("./../images/background2.jpg");
    background-size:     cover;               
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: #eee2dc;
}

#topnavbar {
	background-color: #edc7b7;
	color: #ac3b61;
	text-decoration: none;
	font-weight: bold;
}

#zuitterNav{
	color: #ac3b61;
}

#jumbotron{
	margin-top: 50px;
	background: rgba(255,255,255,0.5);
	background-color: #edc7b7;
}

#booknowbtn{
	border-radius: 90px;
	background-color: #ac3b61;
	color: #eee2dc;
	text-decoration: none;
}

#footerNav{
	background-color: #edc7b7;
	color: #123c69;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

#aboutSection{
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 50px;
	padding: 20px;
}

#registerButton{
	border-radius: 90px;
	background-color: #ac3b61;
	color: #eee2dc;
	text-decoration: none;
	margin-top: 0;
	padding-right: 100px;
	padding-left: 100px;
}

#registerButtonContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#registerContainer {
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 50px;
	padding: 20px;
}

#contactUs{
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 70px;
	padding: 20px;
}

#contactlist{
	list-style-type: none;
	font-size: 15px;
	font-weight: bolder;
}

.icon{
	width: 10px;
}

#loginContainer{
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 50px;
	padding: 20px;
}

#loginButton{
	border-radius: 90px;
	background-color: #ac3b61;
	color: #eee2dc;
	text-decoration: none;
	margin-top: 0;
	padding-right: 100px;
	padding-left: 100px;
}

#signUp{
	font-weight: bolder;
	color: inherit;
	text-decoration: none;
}

#addCourseContainer{
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 50px;
	padding: 20px;
	padding-right: 100px;
	padding-left: 100px;
}

#createCourseButton{
	border-radius: 90px;
	background-color: #ac3b61;
	color: #eee2dc;
	text-decoration: none;
	margin-top: 0;
}

#mainCourseContainer {
	background-color: #eee2dc;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
	margin-bottom: 50px;
}

#contactContainer1 {
	padding: 50px;
	background-color: #edc7b7;
	border-radius: 10px;
}